.App {
  font-family: sans-serif;
  text-align: center;
}
:root {
  --primary-color: #09e2ac;
  --navi-color: #2b1992;
  --background-color: #cad0d3;
  --width-max: 650px;
}

body {
  max-width: 100%;
  margin: 0px auto;
  background-size: 88%;
  background-image: linear-gradient(white, orange);
}
.navigation {
  background-image: linear-gradient(var(--primary-color), var(--navi-color));
  color: black;
  padding: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  text-align: center;
}

.nav-brand {
  font-weight: bold;
  font-size: 40px;
}

#liveRecommand {
  font-size: 3rem;
  font-family: sans;
  font-style: italic;
  font-size: 2.8rem;
  font-weight: bolder;
  color: white;
  text-decoration: underline 1.5px;
  width: 50%;
  margin: auto;
  border-radius: 1rem;
  background-color: darkblue;
}

#listStyle {
  list-style: none;
  border: 1px black solid;
  border-radius: 1rem;
  padding: 1rem;
  width: 65%;
  margin: auto;
  background-color: cyan;
  color: black;
  padding: 1.5rem;
}

#footer {
  background-image: linear-gradient(var(--navi-color), var(--primary-color));
  color: black;
  padding: 1rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  text-align: center;
}
